# Buff Prompt for Bash

buff_ip() {
    ip route get 1.1.1.1 2>/dev/null | awk '{print $7; exit}'
}

buff_prompt() {
    local last_status=$?
    local status="✔"

    if [ "$last_status" -ne 0 ]; then
        status="✗"
    fi

    PS1="\[\e[38;2;255;49;49m\]┌─[\[\e[38;2;0;255;102m\]${status}\[\e[38;2;255;49;49m\]]─[\[\e[38;2;255;255;255m\]\u\[\e[38;2;221;255;36m\]@\[\e[38;2;31;81;255m\]\h\[\e[38;2;255;49;49m\]]─[\[\e[38;2;255;255;255m\]\$(buff_ip)\[\e[38;2;255;49;49m\]]─[\[\e[38;2;221;255;36m\]\t\[\e[38;2;255;49;49m\]]─[\[\e[38;2;15;255;80m\]\w\[\e[38;2;255;49;49m\]]\n\[\e[38;2;255;49;49m\]└──╼ \[\e[38;2;15;255;80m\]\$ \[\e[0m\]"
}

PROMPT_COMMAND=buff_prompt
